.footer {
    background: #12372A;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: #ADBC9F;
    font-size: 0.8em;
    display: inline-block;
}

.footer .row a {
    text-decoration: none;
    color: #436850;
    transition: 0.5s;
    width: 80px;
}

.footer .row a:hover {
    color: #ADBC9F;
}

.footer Link {
    width: 30px;
}

.social-link {
    font-size: 30px;
    margin: 0 10px;

}


@media screen and (min-width: 980px) {
    .footer .footer-link-row {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }

    .footer-link {
        float: left;
        padding-left: 30px;
    }
}

.footer-link {
    font-size: 18px;
    margin-right: 20px;
    color: #333;
    text-decoration: none;
}