@media (min-width: 1024px) {

    .navbar-nav {
        background: #fbfada;
        margin: 10px 30px 0 30px;

    }

    .nav-container {
        box-shadow: 2px 2px 5px #12372A;
        border-radius: 100px;
        height: 55px;
    }

    .offcanvas-body {
        border-radius: 100px;
    }
}


.offcanvas-body {
    background-color: #fbfada;
    color: #12372A;
}

.offcanvas-title {
    background-color: #12372A;
}

.offcanvas-title-text {
    color: #fbfada;
}

.nav-items{
    margin-top: 0 ;
}

#nav-link {
    color: #12372a;
    margin: 0 15px;
    position: relative;
}

#nav-link:hover{
    border-bottom: 2px solid #12372A;
    transition:inherit;
}

#nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #12372A;
    transition: width 0.3s ease;
}