.policy-list {
    display: flex;
    padding-bottom: 60px;
    padding-top: 30px;
}


.text-logo {
    background-color: #12312a;
    margin: 0 50px;
    border-radius: 20px;
}

.logo-img {
    width: fit-content;
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px 0;
}

.start-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FBFADA;
    background-color: #12312A;
    background-color: #12312A;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='525' height='63' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23FBFADA' stroke-width='25' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

}


.start-button {
    width: 500px;
    height: 150px;
    border: 2px solid;
    border-radius: 3rem;
    color: #12312a;
    font-family: roboto;
    font-size: 4rem;
    font-weight: 100;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    background-color: #fbfada;
}

.start-button::after {
    background-color: #12312a;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.start-button:hover::after {
    transform: translate(0, 0);
}

.start-button:hover {
    border: 2px solid transparent;
    color: #fbfada;
    transform: scale(1.05);
    will-change: transform;
}

@media (max-width: 768px) {
    .start-btn-div {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .start-button {
        width: 80%;
        height: 15%;
        margin: 0 0 0 0;
        padding: 0 0 0 0 ;
    }
}

.start-button span{
  margin: 0 auto;  
}